.home-sideNavbarHide{
    display: none;
}

.home-sideNavbar{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 95vh;
    overflow-y: auto;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 275px;
    padding: 14px;
    background-color:#000000;
    box-shadow: 0 0 10px #00e5ff;
    color:#ffffff;
    
}

.home-sideNavbarTop{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

.home-sideNavbarTopOption{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 9px 10px;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
        background-color: #00d3f8;
        color: black;
    }
}

.home-sideNavbatTopOptionTitle{
    text-decoration: none;
    color: white;
    &:hover{
        color: black;
    }
}

.home-sideNavbarBottom{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}

.home-sideNavbarBtmOption{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0 2px 0;
    padding: 9px 10px;
    border-radius: 15px;
    cursor: pointer;
    &:hover{
        background-color: #00d3f8;
        color: black;
    }
}